﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h1 class="display-4">Plataforma IoT  </h1>
                <p class="lead">Monitorea y Administra  los sensires y actuadores de tu casa  desde internet usando IoT</p>
                <hr class="my-4">
                <p>Instituto Tecnologico Superior de Huichapan <br />
                Ingenieria en Sistemas Comútacionales <br />
                Internet De Las Cosas <br />
                Equipo: Jaime, Jeny, Edna , Santiago
                </p>
            </div>
            <div class="col-sm">
                <div class="container">
                    <div class="row">
                        <form method="post">
                            <div class="container">
                                <div class="row">
                                    <h2>Inicio de Sesion </h2>
                                </div>
                                <div class="row">
                                    Correo: <input type="email" asp-for="Login.Correo" class="form-control" placeholder="Usuario@Correo.com" required />
                                </div>
                                <div class="row">
                                    Contraseña : <input type="password" asp-for="Login.Password" class="form-control" placeholder="Contraseña " required />
                                </div>
                                <div class="row">
                                    <input type="hidden" asp-for="EsLogin" value="true" /> <br />
                                    <input type="submit" class="btn btn-success" value="Iniciar Sesion " />
                                </div>
                                <div class="row">
                                    @if (Model.Error != null)
                                    {
                                    <div class="alert alert-danger" role="alert">
                                        @Model.Error
                                    </div>
                                            }
                                    </div>
                            </div>
                        </form>
                    </div>
                    <div class="row">
                        <div class="col">
                            <form method="post">
                                <input type="hidden" asp-for="EsLogin" value="false" />
                                <input type="submit" class="btn btn-primary" value="Crear Usuario " />
                            </form>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>





</div>
